#socialMedia {
    flex: 100%;
    display: flex;
    background-color: black;
}

    #socialMedia > a {
        flex: 1;
        font-size: 14px;
        color: white;
        padding: 10px;
        text-align: center;
    }

.facebook { background-color: #3b5998; }

.youtube { background-color: #FF0000; }

.instagram { background-color: #515BD4; }

.steam { background-color: rgb(25, 25, 25); }
