main {
    display: flex;
}

    #about,
    #support{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }

    #about {
        flex: 2;
        background-color: white;
    }

    #support {
        flex: 1;
        background-color: whitesmoke;
    }
