main {
    display: flex;
    flex-wrap: wrap;
}

    #about,
    #support,
    #games {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }

    #about {
        flex: 70%;
        background-color: white;
    }

    #support {
        flex: 30%;
        background-color: whitesmoke;
    }

    #games {
        flex: 100%;
        background-color: rgb(40, 40, 40);
        color: lightgrey;
    }

    #footer {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
