@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

/* Scrollbar */
/* ::-webkit-scrollbar { width: 7px; }

::-webkit-scrollbar-track { background-color: #000000; }

::-webkit-scrollbar-thumb { background-color: #FFFFFF; }

::-webkit-scrollbar-thumb:hover { background-color: #FFFFFF; } */

/* Html */

html {
  scroll-behavior: smooth;
}

/* Nav */

@media screen and (min-width: 767px) {
  #scrollBack {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
    font-size: 30px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    border-radius: 100%;
  }

  nav {
    width: 100%;
    height: 60px;
    background-color: #191919;
  }

  #hamburger { display: none; }

  #menu {
    float: right;
    margin-right: 10px;
  }

  #menu > li {
    display: inline-block;
    line-height: 60px;
  }

  #menu > li > a {
    margin: 0 5px;
    padding: 7px;
    color: grey;
    border: 2px solid rgba(255, 255, 255, .1);
    text-transform: uppercase;
  }

  #menu > li > a:hover {
    color: white;
    border: 2px solid white;
    transition: all .5s ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  #scrollBack {
    display: none;
  }

  nav {
    width: 100%;
    height: 60px;
    background-color: #191919;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  #hamburger {
    margin: 10px;
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    cursor: pointer;
  }
  
  #hamburger > div {
    width: 75%;
    height: 2px;
    margin: 3px auto;
    background-color: white;
  }
  
  #hamburger-line-top,
  #hamburger-line-bottom { transition: all .5s ease-in-out; }
  
  #hamburger-line-middle { transition: all 1s ease-in-out; }
  
  #menu {
    top: 60px;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #191919;
    transform: translateX(-100%);
    overflow-y: auto;
    z-index: 2;
  }
  
  #menu > li { line-height: 60px; }
  
  #menu > li > a:first-child { border-top: 1px solid rgba(150, 150, 150, .1); }
  
  #menu > li > a {
    display: block;
    text-align: center;
    width: 100%;
    color: grey;
    border-bottom: 1px solid rgba(150, 150, 150, .1);
    text-transform: uppercase;
  }
  
  #menu > li > a:hover {
    color: white;
    background-color: #232323;
    transition: all .5s ease-in-out;
  }
}

/* ----------------------------------------------------- Header ----------------------------------------------------- */

#home {
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

#home > img {
  width: 150px;
  margin: 60px;
}

@media screen and (max-width: 767px) {
  #home > img {
    width: 50%;
    margin: 60px;
  }
}

/* ----------------------------------------------------- About ------------------------------------------------------ */

#about { background-color: whitesmoke; }

#aboutContent { padding: 50px; }

#aboutContent > h2 {
  font-size: 30px;
  color: dimgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

#aboutContent > p {
  text-align: justify;
  color: dimgrey;
  font-size: 18px;
}

/* Support */

#support {
  background-color: transparent;
}

@media screen and (min-width: 767px) {
  #support { flex: 30%; }
}

/* Games */

#games {
  flex: 100%;
  padding: 0;
  background-color: black;
}

#games > h1 {
  color: white;
  padding: 20px;
}

#gameList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#gameList > p {
  width: 100%;
  text-align: center;
  padding: 40px;
  color: lightgray;
}

#gameList > figure {
  position: relative;
  height: 50vh;
}

#gameList > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gameList > figure > legend {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  opacity: 0;
}

#gameList > figure > legend:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .flex25 { flex: 25%; }
  .flex50 { flex: 50%; }
  .flex100 { flex: 100%; }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .flex25, .flex50, .flex100 {
    flex: 50%;
  }
}

@media screen and (max-width: 767px) {
  .flex25, .flex50, .flex100 {
    flex: 100%;
  }
}

/* Teams */

#team {
  flex: 100%;
  background-color: whitesmoke;
  position: relative;
  min-height: 100vh;
  text-align: center;
}

#team > .person {
  position: absolute;
  width: 20%;
}

#team > .person > img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  #team { flex: 50%; }
}

/* Contact */

#contact {
  flex: 100%;
  background-color: lightgray;
}

@media screen and (min-width: 767px) {
  #contact { flex: 50%; }
}

#contact > form > * {
  display: block;
  margin-bottom: 10px;
}

#contact > h1 {
  color: grey;
  margin-bottom: 25px;
}

@media screen and (min-width: 767px) {
  input, textarea {
    width: 300px;
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  input, textarea {
    width: 100%;
    padding: 10px;
  }
}

label {
  color: grey;
}

input, textarea {
  outline: none;
  border: none;
  background-color: lightgrey;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
}

input[type="submit"] {
  border: none;
  width: auto;
  color: white;
  background-color: black;
  cursor: pointer;
}

/* ----------------------------------------------------- Footer ----------------------------------------------------- */

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  padding: 100px 0;
  color: #ffffff;
  background: #000000;
}

#footer > header {
  width: 75%;
  padding-bottom: 20px;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}

#footer > header > h2 { flex: 1; }

#footer > header > h2:nth-child(1) { text-align: left; }

#footer > header > h2:nth-child(2) { text-align: right; }

.socialMedia {
  display: flex;
  width: 75%;
  margin-top: 20px;
}

.socialMediaLinks, .socialMedia > p {
  flex: 1;
  color: #ffffff;
}

.socialMediaLinks { text-align: left; }

.socialMedia > p { text-align: right; }

.socialMediaLinks > a {
  margin-right: 10px;
  color: #808080;
}

.socialMediaLinks > a:hover {
  color: #ffffff;
  transition: color .5s ease-in-out;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .socialMediaLinks > a {
    display: block;
    margin: auto auto 10px;
  }
}

@media screen and (max-width: 767px) {
  #footer > header { display: block; }

  #footer > header > h2 {
    font-size: 16px;
  }

  #footer > header > h2:nth-child(1) {
    text-align: left;
    margin-bottom: 10px;
  }

  #footer > header > h2:nth-child(2) { text-align: left; }

  .socialMedia { display: block; }

  .socialMediaLinks > a {
    display: block;
    margin-bottom: 10px;
  }

  .socialMedia > p {
    text-align: left;
    margin-top: 20px;
  }
}